<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../plugins/layui-2.5.4/css/layui.css">
    <script src="../plugins/layui-2.5.4/layui.js"></script>
    <script src="../plugins/jquery/jquery-3.4.1.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">XX肉铺</div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="javascript:messageMoldChange('index')">首页</a></li>
                <li class="layui-nav-item"><a href="javascript:messageMoldChange('orders')">订单</a></li>
                <li class="layui-nav-item"><a href="javascript:messageMoldChange('goods')">商品</a></li>
                <li class="layui-nav-item"><a href="javascript:messageMoldChange('customers')">顾客</a></li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div >
            <iframe  id="iframe_index" scrolling="no" frameborder="0" style="width:100%;"></iframe>
            <iframe  id="iframe_orders" scrolling="no" frameborder="0" style="width:100%;"></iframe>
            <iframe  id="iframe_goods" scrolling="no" frameborder="0" style="width:100%;"></iframe>
            <iframe  id="iframe_customers" scrolling="no" frameborder="0" style="width:100%;"></iframe>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;


    });
    $(function () {
        $(".layui-nav-item").each(function (index,element) {
            $(element).removeClass("layui-this")
        });
        onLoadPage();
    })
    function onLoadPage() {
        var windowHeight = $(window).height();
        var windowWidth = $(window).width();

        var index_head = $(".layui-header").height();
        var footer = $(".layui-footer").height();
        $("#iframe_index").height(windowHeight-index_head-footer-30);
        $("#iframe_orders").height(windowHeight-index_head-footer-30);
        $("#iframe_goods").height(windowHeight-index_head-footer-30);
        $("#iframe_customers").height(windowHeight-index_head-footer-30);

    }
    var indexLoaded = false;
    var ordersLoaded = false;
    var goodsLoaded = false;
    var customersLoaded = false;
    function messageMoldChange(messageMold) {
        if(messageMold === 'index'){
            if(!indexLoaded){
                $("#iframe_index").attr('src','home.html');
                indexLoaded = true;
            }
            $("#iframe_index").show();
            $("#iframe_orders").hide();
            $("#iframe_goods").hide();
            $("#iframe_customers").hide();
        }
        if(messageMold === 'orders'){
            if(!ordersLoaded){
                $("#iframe_orders").attr('src','orders.html');
                ordersLoaded = true;
            }
            $("#iframe_index").hide();
            $("#iframe_orders").show();
            $("#iframe_goods").hide();
            $("#iframe_customers").hide();
        }
        if(messageMold === 'goods'){
            if(!goodsLoaded){
                $("#iframe_goods").attr('src','goods.html');
                goodsLoaded = true;
            }
            $("#iframe_index").hide();
            $("#iframe_orders").hide();
            $("#iframe_goods").show();
            $("#iframe_customers").hide();
        }
        if(messageMold === 'customers'){
            if(!customersLoaded){
                $("#iframe_customers").attr('src','customers.html');
                customersLoaded = true;
            }
            $("#iframe_index").hide();
            $("#iframe_orders").hide();
            $("#iframe_goods").hide();
            $("#iframe_customers").show();
        }
    }
</script>
</body>
</html>